.App {
  margin-top: 50px;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}
.tableCont {
  width: 700px;
}
.btnCont {
  background-color: dark;;
}
.deleteBtn {
  width: 10px;
  height: 20px;
}
.tableForm {
  width: 700px;
}
.btn-primary {
  margin: 10px;
  width: 35px;
  height: 35px;
}
.btn-success {
  font-size: 12px;
  margin: 10px;
  width: 80px;
  height: 35px;
}
